/structs/       @oleoneto @cleopatrio
/validators/    @oleoneto @cleopatrio
/docs/          @oleoneto @cleopatrio
/.github/       @oleoneto @cleopatrio
/README.md      @oleoneto @cleopatrio
/LICENSE        @oleoneto @cleopatrio
